{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
            <h1>{{ bracket.bracket_name }}</h1>
            <p class="offset-2">Hosted by {{ bracket.host }}</p>
            <p>From {{ bracket.start_date }} to {{ bracket.end_date }}</p>
            <b>{{ bracket.primary_contact_type }}: {{ bracket.primary_contact_value }}</b>
            <p>Location: {{ bracket.location }}</p>
            <p>{{ bracket.tournament_description }}</p>

            <textarea id="chat-log" cols="100" rows="14"></textarea><br>
            <input id="chat-message-input" type="text" size="100"><br>
            <!--<input id="chat-message-submit" type="button" value="Send">-->
            <input type="submit" class="button expanded" value="Send" />
            {{ room_name|json_script:"room-name" }}
            <script>
                const roomName = JSON.parse(document.getElementById('room-name').textContent);
        
                const chatSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/chat/'
                    + roomName
                    + '/'
                );
        
                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    document.querySelector('#chat-log').value += (data.message + '\n');
                };
        
                chatSocket.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                };
        
                document.querySelector('#chat-message-input').focus();
                document.querySelector('#chat-message-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#chat-message-submit').click();
                    }
                };
        
                document.querySelector('#chat-message-submit').onclick = function(e) {
                    const messageInputDom = document.querySelector('#chat-message-input');
                    const message = messageInputDom.value;
                    chatSocket.send(JSON.stringify({
                        'message': message
                    }));
                    messageInputDom.value = '';
                };
            </script>
    </div>
</div>
{% else %}
    <h3>Put login button here</h3>
{% endif %}

{% endblock %}
